@import "./variable.scss";
@import url("https://fonts.googleapis.com/css?family=Lato|PT+Sans&display=swap");
//   font-family: 'PT Sans', sans-serif;
//   font-family: 'Lato', sans-serif;
::placeholder {
  color: $dark !important;
}
.books {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
  padding: 0 40px;
  transition: 0.4s all;
}
.book-container {
  display: flex;
  align-items: center;
  margin: 10px auto;
  border-radius: 10px;
}
.book-img {
  display: flex;
  align-items: center;
  height: 220px;
  z-index: 1;
  transform: translateX(60px);
  border-radius: 10px;
}
.book-info {
  background-color: $gray;
  width: 370px;
  height: 200px;
  padding: 5px 15px 5px 70px;
  margin: 20px auto;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  line-clamp: 3;
  box-orient: vertical;
  .book-title {
    color: $pri;
  }
  .book-rate {
    color: #f1c40f;
    font-size: 40px !important;
    margin: 5px 0;
    span {
      color: gray;
    }
  }
}
/*******  ADD BOOK *******/
.btn-toggle-AddBook {
  position: fixed;
  bottom: 20px;
  right: 20px;
}
.btn-add-book {
  width: 40%;
  display: block;
  margin: 0 auto;
  padding: 10px 0;
  border: none;
  background: none;
  font-size: 20px;
  color: $pri;
  transition: .2s all;
  outline: none;
  &:hover {
    background-color: rgba(237,150,11,0.1);
  }
}
.btn-AddBook {
  float: left;
  background-color: $sec;
  margin: 10px auto -22px -22px;
  &:hover {
    background-color: $sec-op;
  }
}
.btn-SearchBook {
  background-color: $sec;
  margin: 0 auto;
  &:hover {
    background-color: $sec-op;
  }
}
.btn-SearchAgain {
  background: none;
  border: none;
  color: $pri;
  text-decoration: underline;
  &:hover {
    color: $sec;
  }
}
.form-AddBook form {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.img-addBook {
  border-radius: 10px;
  display: block;
  margin: 10px auto;
  max-width: 102px;
  max-height: 201px;
}
.form-AddBook form {
  .div-label {
    position: relative;
    label {
      position: absolute;
      top: -7px;
      left: 10%;
      color: $pri;
      font-weight: bold;
      transition: 0.3s;
      pointer-events: none;
    }
  }
}
.h3-rating {
  margin-top: 5px;
}
.rating {
  margin: -25px auto 0px auto;
  direction: rtl;
}
.star {
  margin: 5px 0 0;
  padding: 0;
  font-size: 50px;
  color: grey;
  transition: 0.3s all;
  border: none;
  background: none;
  outline: none;
}
.star:hover {
  color: #f1c40f;
}
.star1:hover ~ button {
  color: #f1c40f;
}
.star2:hover ~ button {
  color: #f1c40f;
}
.star3:hover ~ button {
  color: #f1c40f;
}
.star4:hover ~ button {
  color: #f1c40f;
}
.star5:hover ~ button {
  color: #f1c40f;
}
/****BOOK BOX****/
.book-box {
  display: flex;
  justify-content: center;
  border: none;
  padding: 0;
  background: none;
  width: 100%;
  height: 120px;
  margin-bottom: 10px;
  transition: .3s all;
  cursor: pointer;
  &:hover {
    transform: scale(1.03);
  }
}
.book-box-img {
  height: 100%;
  width: 80px;
  img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
  }
}
.book-box-info {
  padding: 0 10px;
  width: calc(100% - 80px); //img width
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  h5 {
    color: $pri;
    font-weight: 900;
  }
}