@import "./variable.scss";
@import url('https://fonts.googleapis.com/css?family=Lato|Merienda+One|Montserrat|PT+Sans|Parisienne&display=swap');
// Titles font-family: 'PT Sans', sans-serif; 
// Bodies font-family: 'Lato', sans-serif;
// Logo font-family: 'Merienda One', cursive;
// Cursi font-family: 'Parisienne', cursive;
// Header font-family: 'Montserrat', sans-serif;
.nav-links li,
.nav-links li .NavLink,
.cta button {
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: $light;
  text-decoration: none;
}

.header {
  position: fixed;
  top: 0;
  background-color: $dark;
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 10%;
  font-family: 'Montserrat', sans-serif;
  z-index: 99;
}

.logo-container {
  display: flex;
  align-items: center;
  margin-right: auto;
  cursor: pointer;
  img {
    transition: 0.3s all;
    width: 75px;
  }
  h1 {
    color: $light; 
    font-family: 'Merienda One', cursive;
    margin-left: 10px;
  }
}
.nav-links {
  list-style: none;
  li {
    display: inline-block;
    padding: 0px 20px;
    .NavLink {
      transition: 0.3s all;
      &:hover {
        color: $pri;
      }
    }
  }
}

.cta button {
  margin-left: 20px;
  padding: 9px 25px;
  background-color: $pri;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: .3s all;
  &:hover {
    background-color: $pri-op;
  }
}