@import "./variable.scss";
@import url("https://fonts.googleapis.com/css?family=Lato|Merienda+One|Montserrat|PT+Sans|Parisienne&display=swap");
// Titles font-family: 'PT Sans', sans-serif;
// Bodies font-family: 'Lato', sans-serif;
// Logo font-family: 'Merienda One', cursive;
// Cursi font-family: 'Parisienne', cursive;
// Header font-family: 'Montserrat', sans-serif;

.profile {
  margin: 120px auto 0;
  width: 40%;
}
.artboard {
  img {
    width: 100%;
    height: 250px;
  }
}

.profile-img {
  max-width: 150px;
  max-height: 150px;
  margin: -100px 20px 0;
  background-color: #fff;
  border: 2px solid $dark;
  border-radius: 50%;
}
.profile-info {
  margin: 0px 20px;
  h5 {
    color: $dark-op;
  }
  h4 {
    margin: 5px 0;
    font-weight: 300;
  }
  h3 {
    span {
      font-weight: 100;
      margin-right: 15px;
    }
  }
}

.tablist {
    width: 100%;
    height: 50px;
    margin: 5px 0;
    text-align: center;
}
.tab {
    display: inline-block;
    width: 50%;
    font-size: 25px;
    color: gray;
    padding-top: 15px;
    border-bottom: 2px solid gray;
    transition: .2s all;
    &:hover {
        background: rgba(225,70,40,0.2);
    }
}
.tab-selected {
    color: $sec;
    border-color: $sec;
}

.test {
    width: 150px;
    height: 150px;
    background-color: red;
}
